.header{
    background-color: #409EFF;
}
.login-wrap{
    background: #16673b;
}
.plugins-tips{
    background: #eef1f6;
}
.plugins-tips a{
    color: #20a0ff;
}
.el-upload--text em {
    color: #20a0ff;
}
.pure-button{
    background: #20a0ff;
}
.vue-datasource .btn-primary {
    color: #fff;
    background-color: #20a0ff !important;
    border-color: #20a0ff !important;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #20a0ff !important;
    border-color: #20a0ff !important;
}